body{
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
}

h1{
    background-color: #7164e4;
    width: 200px;
    padding-left: 100px;
    padding-top: 50px;
    margin-bottom: 0px;
}

#one{
    background-color: #fdc5f5;
    border-width: 5px;
    border-color: #f7aef8;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 50px;
}

#two{
    background-color: #8093f1;
    border-color: #7164e4;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 5px;
    margin: 200px;
}

#three{
    background-color: #72ddf7;
    border: 4px solid #49b6f5;
    border-left-style: dotted;
    border-radius: 10%;
}

button{
    padding: 10px 20px;
}