span{
    background-color: palegreen;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    margin: 50px;
}

h1{
    background-color: paleturquoise;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    margin: 50px;
}

div{
    height: 200px;
    width: 200px;
    background-color: palevioletred;
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
}