section{
    background-color: #b8e0d2;
    width: 800px;
    height: 800px;
}

div{
    background-color: #95b8d1;
    width: 50%;
    height: 50%;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems{
    font-size: 20px;
}

#ems h2{
    font-size: 2em;
    margin-left: 1em;
}

#ems p{
    font-size: 1em;
}

#ems h3{
    font-size: 1.5em;
}

button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}

#ems ul{
    font-size: 1.5em;
}

#rems h2{
    font-size: 3rems;
}

#rems h3{
    font-size: 2rems;
}

#rems ul{
    font-size: 0.8rems;
}

#rems button{
    font-size: 1.5rems;
}

